@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSansX";
  src: url("/public/fonts/");
}

*::selection {
  background-color: #a62626;
  color: white;
}

* {
  direction: rtl;
  font-family: "IranSansX", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}